## Specify IP address, listens to localhost and is not available in LAN.
bind_ip = localhost

## Specify PORT
port = 5000

## Path to which mongodb will store data
dbpath = C:\Specify\your\path\here\MongodData

## Path to the log file
logpath = C:\The\path\to\mongodb\mongod.log

## Append every logs to the file instead of overwriting with new logs
logappend = true