.inputStyle {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 25vw;
    font-size: 1.25rem;
    border: none;
    border-bottom: 1px solid #eb4141;
    font-family: "JetBrains mono", monospace;
    outline: none;
    
    @media screen and (max-width: 1000px) {
        font-size: 1rem;
        width: 30vw;
    }
    @media screen and (max-width: 700px) {
        width: 35vw;
    }
    @media screen and (max-width: 600px) {
        width: 70vw;
    }
}

.inputSection {
    margin-left: 0.5rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.labelStyle {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-family: "JetBrains mono", monospace;
}